#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
input {
  margin: 0.5rem;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 50%;
  font-size: 1rem;
  font-family: inherit;
  outline: none;
  transition: border-color 0.25s;
}
#add-btn {
  margin: 0.5rem;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1rem;
  background-color: #83f253;
  color: #000;
  font-weight: bold;
  width: auto;
  height: auto;
}
button {
  margin: 1rem;
}

.table-container {
  overflow-x: auto;
  margin: 20px 0;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

table {
  width: 100%;
  border-collapse: collapse;
  font-family: Arial, sans-serif;
}

thead th {
  background-color: #f44336;
  color: #fff;
  padding: 12px 16px;
  font-weight: bold;
}

tbody tr {
  border-bottom: 1px solid #ddd;
  background-color: #ffe7e7;
}

tbody tr:nth-child(even) {
  background-color: #ffffff;
}

td {
  padding: 12px 16px;
  text-align: center;
  color: #333;
  /*vertical-align: middle;*/
}

table td {
  font-size: 18px;
}
